version: 1.0.{build}
image: Visual Studio 2019
environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true
  APPVEYOR_CACHE_ENTRY_ZIP_ARGS: -t7z -m0=lzma -mx=9
  MSVC_CRT_SUFFIX: DLL
  RUN_EXPORT: false
  TRIPLET: x64-windows-static-md

  matrix:
    # minimal build
    ###################
    - FEATURES: core

    # LGPL full builds
    ###################
    - FEATURES: core,avcodec,avformat,avdevice,avfilter,swresample,swscale,iconv,lzma,nvcodec,opus,vpx,zlib
      TRIPLET: x64-windows
      RUN_EXPORT: true
    - FEATURES: core,avcodec,avformat,avdevice,avfilter,swresample,swscale,iconv,lzma,nvcodec,opus,vpx,zlib
      TRIPLET: x64-windows-static
      MSVC_CRT_SUFFIX:
      RUN_EXPORT: true
    - FEATURES: core,avcodec,avformat,avdevice,avfilter,swresample,swscale,iconv,lzma,nvcodec,opus,vpx,zlib
      TRIPLET: x64-windows-static-md
      RUN_EXPORT: true

    # GPL full builds
    ##################
    # TIMEOUT
    #- FEATURES: core,avcodec,avformat,avdevice,avfilter,swresample,swscale,bzip2,iconv,lzma,nvcodec,opus,snappy,soxr,vpx,zlib,postproc,x264,x265
    #  RUN_EXPORT: true

    # LGPL features
    ################
    - FEATURES: core,avresample
    - FEATURES: core,bzip2,avformat
    - FEATURES: core,ffmpeg
    - FEATURES: core,ffplay
    - FEATURES: core,ffprobe
    - FEATURES: core,iconv,avcodec
    - FEATURES: core,lzma,avformat
    - FEATURES: core,nvcodec,avcodec
    - FEATURES: core,mp3lame,avcodec
    - FEATURES: core,opencl,avfilter
    - FEATURES: core,opus,avcodec
    - FEATURES: core,snappy,avcodec
    - FEATURES: core,soxr,swresample
    - FEATURES: core,speex,avcodec
    - FEATURES: core,theora,avcodec
    - FEATURES: core,vorbis,avcodec
    - FEATURES: core,vpx,avcodec
    - FEATURES: core,zlib,avformat

    # GPL features
    ###############
    - FEATURES: core,avisynthplus,avformat
      TRIPLET: x64-windows  # ffmpeg only supports dynamic build of avisynthplus
    - FEATURES: core,postproc
    - FEATURES: core,x264,avcodec
    - FEATURES: core,x265,avcodec

    # nonfree features
    ###############
    - FEATURES: core,openssl
    - FEATURES: core,fdk-aac,avcodec
matrix:
  fast_finish: false
  # known broken features
  allow_failures:
    # needs https://github.com/microsoft/vcpkg/pull/13977
    - FEATURES: core,opencl,avfilter
    - FEATURES: core,speex,avcodec
    # needs https://github.com/mcmtroffaes/vcpkg/tree/feature/ffmpeg-theora-fix (part 1 submitted: https://github.com/microsoft/vcpkg/pull/13783)
    - FEATURES: core,theora,avcodec
    - FEATURES: core,vorbis,avcodec
    - FEATURES: core,x264,avcodec
platform:
  - x64
install:
  - cmd: |
      set /p VCPKG_HASH=<VCPKG_HASH.txt
      cd C:\Tools\vcpkg
      git log -1
      git remote add mcmtroffaes https://github.com/mcmtroffaes/vcpkg.git
      git fetch mcmtroffaes
      git checkout %VCPKG_HASH% -d
      git log -1
      copy /y "C:\projects\ffmpeg-msvc-build\vcpkg_acquire_msys.cmake" "C:\Tools\vcpkg\scripts\cmake\"
      .\bootstrap-vcpkg.bat -disableMetrics
      .\vcpkg.exe integrate install
      .\vcpkg.exe upgrade --no-dry-run
      .\vcpkg.exe install ffmpeg[%FEATURES%]:%TRIPLET% --recurse
      dir /s /b "installed\%TRIPLET%"
      7z a logs.7z -ir!".\*.log"
      appveyor PushArtifact logs.7z
      cd C:\projects\ffmpeg-msvc-build\
build_script:
  - ps: |
      if ($env:RUN_EXPORT -Eq "true" -And $env:APPVEYOR_REPO_TAG -Eq "true") {
        .\export.ps1 -triplet $env:TRIPLET -features $env:FEATURES -ErrorAction Stop
      }
test_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
  - mkdir build-rel
  - cd build-rel
  - cmake ../test -G Ninja -DCMAKE_BUILD_TYPE=RELEASE -DCMAKE_TOOLCHAIN_FILE=C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=%TRIPLET% -DFEATURES=%FEATURES:,=;% -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded%MSVC_CRT_SUFFIX%
  - cmake --build .
  - ctest -V
  - cd ..
  - mkdir build-dbg
  - cd build-dbg
  - cmake ../test -G Ninja -DCMAKE_BUILD_TYPE=DEBUG -DCMAKE_TOOLCHAIN_FILE=C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake -DVCPKG_TARGET_TRIPLET=%TRIPLET% -DFEATURES=%FEATURES:,=;% -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreadedDebug%MSVC_CRT_SUFFIX%
  - cmake --build .
  - ctest -V
deploy:
  description: "Headers and libraries for FFmpeg.\n\nFeatures: $(FEATURES)."
  provider: GitHub
  auth_token:
    secure: QSdxjkooPHApqh95gD9duaZBxmv/5zWzDcukjNQGmbedwEu0BvzgA6HUEXpvni25
  artifact: /ffmpeg.*\.7z/
  draft: false
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true
    RUN_EXPORT: true
cache:
  - c:\tools\vcpkg\installed\ -> VCPKG_HASH.txt