version: 1.0.{build}
image: Visual Studio 2019
environment:
  matrix:
    - LINKAGE: static
      RUNTIME_LIBRARY: MD
      TOOLSET: v142
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      FEATURES: core,vpx
      VCPKG_FORCE_SYSTEM_BINARIES: 1

matrix:
  fast_finish: true
platform:
  - x86
  - x64
build_script:
  - pushd C:\Tools\vcpkg && git pull && popd
  - pushd C:\Tools\vcpkg && git apply "%APPVEYOR_BUILD_FOLDER%\ffmpeg-portfile-fix-debug-symbols.patch" && popd
  - pushd C:\Tools\vcpkg && git apply "%APPVEYOR_BUILD_FOLDER%\libvpx-portfile-fix-pdb.patch" && popd
  - pushd C:\Tools\vcpkg && git apply "%APPVEYOR_BUILD_FOLDER%\10929.diff" && popd
  - ps: .\build.ps1 -platform $env:PLATFORM -runtime_library $env:RUNTIME_LIBRARY -linkage $env:LINKAGE -toolset $env:TOOLSET -features $env:FEATURES
test: off
artifacts:
  - path: '*.7z'
deploy:
  description: 'Headers and libraries for FFmpeg.'
  provider: GitHub
  auth_token:
    secure: QSdxjkooPHApqh95gD9duaZBxmv/5zWzDcukjNQGmbedwEu0BvzgA6HUEXpvni25
  artifact: /ffmpeg.*\.7z/
  draft: false
  prerelease: false
  on:
    appveyor_repo_tag: true
